registry = http://verdaccio.smp.sm-soft.ru/

; base64 encoded authentication token
_auth = YWRtaW46MndzeDJXU1g=

; force auth to be used for GET requests
always-auth = true

; we don't want to put certificates in .npmrc
strict-ssl = false

loglevel = silly
