@import "~antd/lib/style/themes/default";

:global {
  .hideButtons button {
    visibility: hidden;
  }

  .loading-spin-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .baseCardRows {
    margin-bottom: @padding-sm;

    & > *:not(:last-child) {
      margin-bottom: @padding-sm;
    }
  }

  .baseCardRow {
    display: flex;

    & > *:not(:last-child) {
      margin-right: @padding-sm;
    }
  }

  .baseCardCol {

  }

  .baseCardItem {
    flex-grow: 1;
    flex-basis: 0;
    align-items: baseline;
    min-width: 0;

    & > *:not(.baseCardItemLabelHorizontal) {
      flex-grow: 1;
    }
  }

  .baseFormItem {
    .baseCardItem();
    display: flex;
    align-items: flex-start;
    margin-bottom: -@padding-sm;

    & .ant-legacy-form-item-control-wrapper {
      width: 100%;
    }
  }

  .baseCardItemLabelHorizontal {
    color: @heading-color;
    //line-height: 40px;
  }

  .baseCardItemLabelHorizontal::after {
    white-space: pre;
    content: " ";
  }

  .baseFormItemVertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
  }
}

.baseCardCols {
  /*border: 1px solid black;*/
  width: 100%;
  table-layout: fixed;

  &:not(:first-of-type) {
    margin-bottom: 24px;
  }

  & > thead > tr {
    & > th {
      text-align: right;
      padding-right: 12px;
      padding-bottom: 6px;
      padding-top: 30px;

      &:not(:first-child):not(:empty) {
        border-left: red 10px solid;
      }
    }

    & > td:nth-child(2n-1):not([colspan="2"]) {
      text-align: right;
    }
  }

  &:first-of-type > tbody > tr:first-child > td:first-child:last-child > div.sui-base-table:first-child:last-child {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: -24px -25px -33px !important;
  }
}
